@use "variaveis";

.banner2 {
  margin: 0 auto;
  max-width: 88.8vw;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20vw;

  img {
    width: 100%;
  }

  &__texto {
    position: absolute;
    max-width: 40%;
    left: 50%;

    h2 {
      margin-bottom: 16px;
    }
  }
}