@use "variaveis";

.banner2 {
  margin: 0 auto;
  max-width: 88.8vw;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20vw;

  &__img--sm {
    display: none;
  }

  &__img {
    width: 100%;
  }

  &__texto {
    position: absolute;
    max-width: 40%;
    left: 50%;

    h2 {
      margin-bottom: 16px;
    }

    p {
      color: variaveis.$corTextoPrincipal;
    }
  }
}

@media (max-width: 640px) {
  .banner2 {
    display: block;

    &__img {
      max-width: 100%;
    }

    &__img--sm {
      display: block;
    }

    &__img--lg {
      display: none;
    }

    &__texto {
      position: static;
      text-align: center;
      max-width: 100%;
    }
  }
}

@media (min-width: 640px) and (max-width: 1025px) {
  .banner2 {
    padding-top: 20vw;

    &__img--sm {
      display: block;
    }

    &__img--lg {
      display: none;
    }
  }
}