@use "variaveis";

.catalogo {
  margin: 0 auto;
  max-width: 88.8vw;
  text-align: center;

  &__title {
    margin-bottom: 24px;
  }

  &__subtitulo {
    color: variaveis.$corTextoPrincipal;
    margin-bottom: 20px;

  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 31%);
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    padding: 0 0 5.6vw;
    gap: 24px;

    &__item {
      list-style: none;

      img {
        width: 100%;
        border-radius: 4px;
      }
    }
  }
}