@use "variaveis";

.catalogo {
  text-align: center;

  &__title {
    margin-bottom: 24px;
  }

  &__subtitulo {
    color: variaveis.$corTextoPrincipal;
    margin-bottom: 20px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    padding: 0 5.6vw 5.6vw;
    gap: 24px;

    img {
      width: 100%;
    }
  }
}