@use "variaveis";
@use 'hero';
@use "catalogo";
@use "nav-bar";
@use "planos";
@use "banner1";

@font-face {
  font-family: Avenir;
  src: url(../../assets/fonts/Avenir-Bold.woff2)
}

@font-face {
  font-family: Avenir;
  src: url(../../assets/fonts/Avenir-Regular.woff2)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Avenir, sans-serif;
  background-color: variaveis.$corDeFundo;
  color: variaveis.$corTextoSecundario;
  letter-spacing: .2px;
}

@mixin font-size($fontSize: 16px) {
  font-size: $fontSize;
  line-height: $fontSize + 10px;
}

@mixin title($fontSize: 28px) {
  @include font-size($fontSize);
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase
}

.text--big {
  @include font-size(20px);
}

.text {
  @include font-size();
}

.text--small {
  @include font-size(12px);
  color: variaveis.$corTextoPrincipal
}

.link-text {
  @include font-size(18px);
  text-decoration: underline;
  @include font-size(20px)
}

.title--big {
  @include font-size(44px);
}

.title {
  @include title(40px);
}

.title--small {
  @include title(28px);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 4px;
  color: variaveis.$corTextoSecundario;
  font-size: 14px;
}

.btn--nav {
  height: 50px;
  padding: 0 16px;
  @include font-size(18px);
}

.btn--login {
  background-color: transparent;
  border: 1px solid variaveis.$corTextoPrincipal;
  color: variaveis.$corTextoSecundario;

  &:hover {
    background-color: variaveis.$corTextoSecundario;
    color: black;
  }
}

.btn--principal {
  height: 68px;
  max-width: 700px;
  padding: 20.5px 33px;
  @include font-size(18px);
}

.btn--plano {
  height: 50px;
  max-width: 260px;
  width: 100%;
  padding: 8px 14px;
}

.btn--azul {
  background-color: #0063e5;
}

.btn--roxo {
  background-color: #6421ff;
}