$corDeFundo: #040714;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
$Fonte-acordion: Arial, sans-serif;

// tablet @media (min-width: 640px) and (max-width: 1025px)
// celular @media (max-width: 640px)